h4 Column Details
div(class="table-responsive")
    table(id="sheet-preview-" + index, class="table table-bordered table-hover table-striped")
        thead
            tr
                th="Header"
                th="Min"
                th="Max"
                th="Uniques"
        tbody
            each row, index in sheet.column_preview
                - var key = Object.keys(row)[0]
                - var unique_values = row[key][5]
                tr
                    td=key
                    td=row[key][3]
                    td=row[key][4]
                    if row[key][5].length === sheet.row_count
                        td="ALL"
                    else
                        if row[key][5].length === 1
                            td=row[key][5].length + " "
                                each value in row[key][5]
                                    span(class="badge single-value-marker")=value
                        else
                            td=row[key][5].length