h4 Column Details

div(id="#column-details")
    each column, index in sheet.columns
        div(class="panel panel-default")
            div(class="panel-heading")
                h5(class="list-group-item-heading")
                    small=(index + 1) + " "
                    =column.name
            div(class="panel-body")
                div(class="row")

                    div(class="col-md-4")
                        div(class="btn-group")
                            button(type="button", class="btn btn-default", data-toggle="tooltip", title="Minimum length")
                                i(class="fa fa-compress")
                                =" " + column.attributes.min
                            button(type="button", class="btn btn-default", data-toggle="tooltip", title="Maximum length")
                                i(class="fa fa-expand")
                                =" " + column.attributes.max
                            button(type="button", class="btn btn-default bind-tooltip", data-toggle="collapse", data-target="#sheet-"+sheet_index+"-column-data-values-"+index, title="Unique values")
                                i(class="fa fa-star-half-o")
                                if column.attributes.uniques.length === sheet.row_count
                                    =" ALL"
                                else
                                    =" " + column.attributes.uniques.length
                            button(type="button", class="btn btn-default bind-tooltip", data-toggle="collapse", data-target="#sheet-"+sheet_index+"-column-all-characters-"+index, title="Unique characters")
                                i(class="fa fa-font")
                                =" "+column.attributes.unique_characters.length
                    div(class="col-md-4", id="column-tags")
                        if column.warnings.length > 0
                            each warning in column.warnings
                                span(class="label label-warning")
                                    i(class="fa fa-exclamation")=" "+warning
                                =" "
                        if(column.attributes.types.numeric)
                            span(class="label label-info", data-toggle="tooltip", title="Numeric")
                                ="123"
                            =" "
                        if(column.attributes.types.alpha_lower)
                            span(class="label label-info", data-toggle="tooltip", title="Alphabetic (lowercase)")
                                ="a-z"
                            =" "
                        if(column.attributes.types.alpha_upper)
                            span(class="label label-info", data-toggle="tooltip", title="Alphabetic (uppercase)")
                                ="A-Z"
                            =" "
                        if(column.attributes.types.non_ascii)
                            span(class="label label-info", data-toggle="tooltip", title="Non-ASCII")
                               i(class="fa fa-subscript")
                            =" "
                div(class="row")
                    div(id="sheet-"+sheet_index+"-column-data-values-" + index, class="collapse col-md-12")
                        - var preview_value_limit = 100
                        if column.attributes.uniques.length > preview_value_limit
                            h6="Data Values (Top " + preview_value_limit + ")"
                        else
                            h6="Data Values"
                        each value, index in column.attributes.uniques
                            if index < preview_value_limit
                                if typeof value == "undefined"
                                    span(class="label label-warning single-value-marker")
                                        i(class="fa fa-times")
                                else
                                    span(class="label label-info single-value-marker")=value
                                =" "
                    div(id="sheet-"+sheet_index+"-column-all-characters-" + index, class="collapse col-md-12")
                        h6="All Characters"
                        each character, index in column.attributes.unique_characters
                            if character === " "
                                span(class="label label-info unique-character-marker", data-toggle="tooltip", title="Space, ASCII "+character.charCodeAt(0))
                                    i(class="fa fa-terminal")
                            else
                                span(class="label label-info unique-character-marker", data-toggle="tooltip", title="ASCII "+character.charCodeAt(0))=character
                            ="  "