h4 Data Integrity Check
div(class="table-responsive")
    table(id="sheet-preview-" + index, class="table table-bordered table-hover table-striped")
        thead
            tr
                th="Header"
                    span(class="badge pull-right")="row " + 1
                th="First"
                    span(class="badge pull-right")="row " + sheet.header_info.first_position
                th="Middle"
                    span(class="badge pull-right")="row " + sheet.header_info.middle_position
                th="Last"
                    span(class="badge pull-right")="row " + sheet.header_info.last_position
                th(class="text-center")="Hash"
        tbody
            - var preview_char_limit = 25
            each column, index in sheet.columns
                tr
                    td=column.name
                    td(title=column.preview.first, data-toggle="tooltip")
                        if column.preview.first.length > preview_char_limit
                            =column.preview.first.toString().substr(0, preview_char_limit) + '...'
                        else
                            =column.preview.first
                    td(title=column.preview.middle, data-toggle="tooltip")
                        if column.preview.middle.length > preview_char_limit
                            =column.preview.middle.toString().substr(0, preview_char_limit) + '...'
                        else
                            =column.preview.middle
                    td(title=column.preview.last, data-toggle="tooltip")
                        if column.preview.last.length > preview_char_limit
                            =column.preview.last.toString().substr(0, preview_char_limit) + '...'
                        else
                            =column.preview.last
                    td(class="no-padding text-center", data-toggle="tooltip", title=column.hash, data-placement="left",)
                        img(class="hash-icon", alt=column.hash, src='data:image/svg+xml;base64,'+new Buffer(column.hash_image).toString('base64'))