html
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', rel='stylesheet')
    body
        div(class='container')
            div(class="col-md-12")
                h1= workbook.basename

                h2 Sheets &nbsp;
                    span(class="badge")=workbook.sheets.length
                div(class="panel-group")
                    each sheet, index in workbook.sheets
                        div(class="panel panel-default")
                            div(class="panel-heading")
                                h3(class="panel-title")
                                    a(data-toggle="collapse", href="#sheet-"+index)= sheet.sheet_id
                            div(id="sheet-"+index, class="panel-body in")

                                div(class="col-md-6")
                                    h4 Stats
                                    table(id="sheet-stats-"+index, class="table table-bordered table-hover")
                                        tr
                                            td Record count
                                            td= sheet.row_count
                                        tr
                                            td Columns
                                            td= (sheet.column_preview.length-1)

                                div(class="col-md-12")
                                    h4 Column Preview
                                    div(class="table-responsive")
                                        table(id="sheet-preview-"+index, class="table table-bordered table-hover table-striped")
                                            thead
                                                tr
                                                    th="Header"
                                                        span(class="badge pull-right")="row "+1
                                                    th="First"
                                                        span(class="badge pull-right")="row "+sheet.header_info.first_position
                                                    th="Middle"
                                                        span(class="badge pull-right")="row " + sheet.header_info.middle_position
                                                    th="Last"
                                                        span(class="badge pull-right")="row " + sheet.header_info.last_position
                                                    th="Min"
                                                    th="Max"
                                                    th="Unique"
                                            tbody
                                                each row, index in sheet.column_preview
                                                    - var key = Object.keys(row)[0]
                                                    - var unique_values = row[key][5]
                                                        tr
                                                            td=key
                                                            td(title=row[key][0])
                                                                if row[key][0].length > 20
                                                                    =row[key][0].toString().substr(0,20)+'...'
                                                                else
                                                                    =row[key][0]
                                                            td(title=row[key][1])
                                                                if row[key][1].length > 20
                                                                    =row[key][1].toString().substr(0, 20) + '...'
                                                                else
                                                                    =row[key][1]
                                                            td(title=row[key][2])
                                                                if row[key][2].length > 20
                                                                    =row[key][2].toString().substr(0, 20) + '...'
                                                                else
                                                                    =row[key][2]
                                                            td=row[key][3]
                                                            td=row[key][4]
                                                            if row[key][5].length === sheet.row_count
                                                                td="ALL"
                                                            else
                                                                if row[key][5].length === 1
                                                                    td=row[key][5].length+" "
                                                                        each value in row[key][5]
                                                                            span(class="badge")=value
                                                                else
                                                                    td=row[key][5].length

            div(class="col-md-12")
                p Gabe's Data Preflight v0.02

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")