div(class="panel panel-default")
    div(class="panel-heading")
        h3(class="panel-title")
            a(data-toggle="collapse", href="#sheet-"+sheet_index)= sheet.sheet_id
    div(id="sheet-"+sheet_index, class="panel-body in")

        div(class="col-md-6")
            h4 Basics
            table(id="sheet-stats-"+index, class="table table-bordered table-hover")
                tr
                    td Record count
                    td(class="text-center")= sheet.row_count
                tr
                    td Column count
                    td(class="text-center")= sheet.columns.length
                tr
                    td Header hash
                    td(class="no-padding text-center", data-toggle="tooltip", title=sheet.header.hash, data-placement="left",)
                        img(alt=sheet.header.hash, src='data:image/svg+xml;base64,' + new Buffer(sheet.header.hash_image).toString('base64'))

        div(class="col-md-12")
            include ./column_preview.jade
            include ./column_details.jade

        div(class="col-md-6")
            h4 Warnings
            if (typeof(sheet.warnings)) !== "undefined"
                each warn_type, warn_type_key in sheet.warnings
                    h5=warn_type_key
                    ul(class="list-group")
                        each warning in warn_type
                            li(class="list-group-item")
                                span=warning.value
                                span(class="badge pull-right")="col "+warning.column
                                span(class="badge pull-right")="row "+warning.row